.navbar-nav.nav-justified > li{
    float:none;
}

.we-nav {
  text-align: center;
  font-size: 1.2em;

  li {
    display: table-cell;
    width: 1%;

    a {
      color: $text-color;
      font-family: $brand-font-family;

      &:focus {
        background-color: $bg-color;
      }
    }

    & > a:hover,
    &.active > a {
        color: $brand-color;
        background-color: $bg-color;
        padding-bottom: 8px;
        border-bottom: 2px solid $brand-color;
    }
  }
}

footer .we-brand {
  font-size: 1.2em;
}


// Socials
$icon-size: 24px;

.we-social-container {
  .item-container {
    display: inline-block;
    margin: 0 0.25em;

    a {
      font-size: 1.2em;
      font-family: $brand-font-family;
    }
  }
  .icon {
    padding: 0 5px;
    display: inline-block;
    vertical-align: bottom;
    height: $icon-size;
    width: $icon-size;
    background-position: 0 0;
    background-size: cover;
    &:hover {
      background-position:left (-$icon-size);
    }
  }
}

.vk{
  background-image: url(/icons/vkontakte-vert-512.png);
}

.mail{
  background-image: url(/icons/mail-512.png);
}

.youtube{
  width: 2*$icon-size !important;
  background-image: url(/icons/youtube-inline-256.png);
}
