header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: rgba($bg-color,0.5);
}

.main > section {
	padding-bottom: 45px;
	overflow: hidden;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $bg-color;

	.container {
 		border-top: 1px solid $border-color;
 		padding: 10px 15px;
 	}
}
