// COMMON STYLES FOR SECTIONS

// .we-demo,
// .we-photo,
// .we-playlist,
// .we-band,
// .we-about {
//   padding-top: 65px;
// }

.we-brand {
  color: $brand-color;
  font-weight: bold;
  font-family: $brand-font-family;

  small {
    color: $brand-smalltext-color;
  }

  a {
    color: $brand-color;
  }
}

// COVER SECTION
.we-cover .container {
  height: inherit;
}

.we-cover h1 {
  text-align: center;
  font-weight: 300;
  padding-top: 10%;
}

$cover-image: url(/cover_2.png);

.we-cover::after {
  content: "";
  background: $cover-image center center no-repeat;
  background-size: cover;
  opacity: 0.5;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

// ABOUT SECTION
.we-about {
  h2 {
    font-size: 2em;
    padding-bottom: 5px;
    border-bottom: 1px solid $brand-smalltext-color;
  }

  p {
    padding-left: 2em;
    font-size: 1.2em;
  }

  ul {
    li {
      font-size: 1.4em;
    }
  }

  .review-container {
    p {
      padding-left: none;

    }
  }
}

// DEMO SECTION
// TODO: remove section styles
.we-demo-wrapper {
  margin: 0 auto;
}

.we-demo-container {
  padding: 2px;
  float: left;

  iframe {
    width: 100%;
    height: 100%;
  }
}

// PHOTOS SECTION
.we-photo .container {
  height: inherit;
}


.we-image-container {
  padding: 10px 0;
  height: inherit;
}

.carousel-fade {
    .carousel-inner {
        height: inherit;
        .item {
            height: inherit;
            transition-property: opacity;
            transition-duration: 1s;
            img{
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }
    .carousel-indicators {
      li {
        // border-color: $text-color;
        // border-width: 2px;
      }
      .active {
        border-color: $brand-color;
        background-color: $brand-color;
      }
    }
}

// PLAYLIST SECTION

.we-playlist-container {
  padding: 20px;
  padding-top: 50px;

  ul {
    list-style: none;
  }
}

.we-playlist-item {
  padding: 5px;
  font-size: 1.25em;
  line-height: 0.9em;

  .singer {
    // color: $brand-color;
    font-size: 0.8em;
    color: $text-darklight-color;
  }
}

// BAND SECTION
.we-band  .container {
  height: inherit;
}
.we-musicians-container {
  padding: 3% 0;
  height: inherit;
  text-align: center;
  .item {
    display: table;
    height: inherit;
    .img-container {
      display: table-cell;
      vertical-align: middle;
      // position: relative;
      .img-overlay {
        width: 100%;
        position: relative;
        padding: 0.5em 0;
        line-height: 2em;
        top: -3em;
        background-color: rgba($bg-color, 0.5);
      }

      img {
        height: auto;
        width: 100%;
        object-fit: contain;
      }
    }
  }
  .musician {
    font-size: 1.2em;
    color: $brand-color;
  }
}
