header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: black;
	background-color: rgba(0,0,0,0.5);
}

.main > section {
	padding-bottom: 45px;
	overflow: hidden;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
}

footer .container {
	border-top: 1px solid $gray-lighter;
	padding: 10px 15px;
}
