// COMMON STYLES FOR SECTIONS

.we-brand {
  color: #FFA500;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}

.we-brand > small {
  color: #90658E;
}

.we-brand a {
  color: #FFA500;
}

// LOGO SECTION

.we-cover .we-brand {
  position: absolute;
  left: 30px;
  top: 30px;
  font-size:  48px;
}

.we-cover-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  overflow: hidden;
}

// DEMO SECTION

.we-demo-wrapper {
  margin: 0 auto;
}

.we-demo-container {
  padding: 2px;
  float: left;
}

.we-demo-container > iframe {
  width: 100%;
  height: 100%;
}


// PLAYLIST SECTION

.we-playlist {
  padding: 10px;
}

.we-playlist ul {
  list-style: none;
}

.we-playlist-item {
  padding: 5px;
  font-size: 1.25em;
}

.we-playlist-item .song {

}

.we-playlist-item .singer {
  color: #009E8E;
}

// BAND SECTION
