{{!< default}}
<section class="we-photo">{{> photos}}</section>
<section class="we-about">{{> about}}</section>
<section class="we-demo">{{> demos}}</section>
<section class="we-playlist">{{> playlist}}</section>
<section class="we-band">{{> band}}</section>
