<div class="container">
  <h1 class="sr-only">О группе WeekEnd</h1>
  <div class="row">
      <div class="col-sm-7">
        <h2>Про <span class="brand">WeekEnd</span></h2>
        <p>
          Кавер группа <span class="brand">WeekEnd</span> предлагает свои услуги по музыкальному сопровождению праздников и мероприяий.
        </p>
        <p>
          Свадьба, копроратив или день рождения с группой <span class="brand">WeekEnd</span> это яркое и незабываемое событие, море драйва и позитива!
        </p>
        <p>
          Мы вкладываем душу в свои концерты с 20XX года.
        </p>
      </div>
      <div class="col-sm-4 col-sm-offset-1">
        <h2>Наши услуги</h2>
        <ul>
          <li>Живая музыка</li>
          <li>Своя аппаратура</li>
          <li>"Заказ песен"</li>
          <li>Что-нибудь еще ...</li>
        </ul>
      </div>
  </div>
</div>
