<h1 class="sr-only">WeekEnd в лицах</h1>
<div class="we-musicians-container">
  {{#each musicians}}
    <div class="item">
      <div class="item-overlay">
        <span class="musician">{{name}}</span>
      </div>
      <img src="{{url}}" alt="{{role}} - {{Name}}" />
    </div>
  {{/each}}
</div>
