<div class="container">
  <h1 class="sr-only">Записи наших выступлений</h1>
  {{#if videos}}
    <div class="we-demo-wrapper">
      {{#each videos}}
        <div class="we-demo-container" data-song="{{song}}">
          <iframe src="{{url}}" frameborder="0" allowfullscreen></iframe>
        </div>
        {{/each}}
    </div>
  {{else}}
    <p>
      ... ждет появления первых песен ...
    </p>
  {{/if}}
</div>
