<nav role="navigation">
  <ul class="nav we-nav">
    {{# each navLinks}}
    <li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
      <a href="{{ href }}"><span class="glyphicon {{icon}}"></span> {{ label }}</a>
    </li>
    {{/each}}
  </ul>
</nav>
