<h1 class="sr-only">Репертуар</h1>
{{#if songs}}
  <div class="we-playlist-container">
    <div class="row">
      {{#each songs}}
        <div class="col-sm-4">
          <p class="we-playlist-item">
            <span class="song">{{name}}</span> –
            <span class="singer">{{singer}}</span>
          </p>
        </div>
      {{/each}}
    </div>
  </div>
{{else}}
  <p>
    Наш репертуар обновляется. Совсем скоро вы его здесь увидите.
  </p>
{{/if}}
