<section id="playlist">
  <h1>Репертуар группы</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
    </div>
  </div>
</section>
