<div class="we-social-container">
  <div class="item-container">
    <a href="http://vk.com" target="_blank"><i class="icon vk"></i></a>
  </div>
  <div class="item-container">
    <a href="http://youtube.com" target="_blank"><i class="icon youtube"></i></a>
  </div>
  <div class="item-container">
    <a href="mailto:weekendband31@gmail.com"><i class="icon mail"></i></a>
  </div>
</div>
