/*
Style based on blue.monday skin
*/
.jp-audio *:focus {
  /* Disable the browser focus highlighting. */
  outline: none; }

.jp-audio button::-moz-focus-inner{
  /* Disable the browser CSS3 focus highlighting. */
  border: 0; }

.jp-audio {
  font-size: 16px;
  font-family: Verdana, Arial, sans-serif;
  line-height: 1.6;
  color: #666;
  /*border: 1px solid #009be3;*/
  background-color: #eee; }

.jp-audio {
  padding: 10px; }

.jp-interface {
  position: relative;
  background-color: #eee;
  width: 100%;
}

  /* Required for the full screen */

/* @group CONTROLS */
.jp-controls-holder {
  height: 40px;
}

.jp-controls {
  overflow: hidden;
  float:left;
}

.jp-controls button {
  overflow: hidden;
  text-indent: -9999px;
  padding: 0;
  border: none;
  cursor: pointer; }

/* @group single player controls */
.jp-play {
  width: 40px;
  height: 40px;
 }

.jp-play {
  background: url("/images/jplayer/jplayer.blue.monday.jpg") 0 0 no-repeat; }

.jp-play:focus {
  background: url("/images/jplayer/jplayer.blue.monday.jpg") -41px 0px no-repeat; }

.jp-state-playing .jp-play {
  background: url("/images/jplayer/jplayer.blue.monday.jpg") 0px -42px no-repeat; }

.jp-state-playing .jp-play:focus {
  background: url("/images/jplayer/jplayer.blue.monday.jpg") -41px -42px no-repeat; }

/* @group progress bar */
/* The seeking class is added/removed inside jPlayer */
div.jp-seeking-bg {
  background: url("/images/jplayer/jplayer.blue.monday.seeking.gif"); }

.jp-progress {
  overflow: hidden;
  background-color: #ddd;
  height: 10px;
}

.jp-seek-bar {
  background: url("/images/jplayer/jplayer.blue.monday.jpg") 0px -202px repeat-x;
  width: 0px;
  height: 100%;
  cursor: pointer; }

.jp-play-bar {
  background: url("/images/jplayer/jplayer.blue.monday.jpg") 0px -218px repeat-x;
  width: 0px;
  height: 100%;
  overflow: hidden; }

/* @end */
/* @group current time and duration */
.jp-current-time, .jp-duration {
  width: 70px;
  font-size: .7em;
  color: #8c7a99; }

.jp-current-time {
  float: left;
  cursor: default; }

.jp-duration {
  float: right;
  text-align: right;
  cursor: pointer; }

/* @end */
/* @group playlist */
.jp-details {
  font-size: .7em;
  margin-left: 45px;
  padding: 0;
}

.jp-details .jp-title {
  padding: 0;
  margin: 0;
  overflow: hidden;
  cursor: default;
}


/* @end */

.jp-jplayer audio,
.jp-jplayer {
  width: 0px;
  height: 0px; }

.jp-jplayer {
  background-color: #000000; }

/* @group NO SOLUTION error feedback */
.jp-no-solution {
  padding: 5px;
  font-size: .6em;
  background-color: #eee;
  border: 2px solid #009be3;
  color: #000;
  display: none; }

.jp-no-solution a {
  color: #000; }

.jp-no-solution span {
  font-size: .7em;
  display: block;
  text-align: center;
  font-weight: bold; }

/* @end */
