header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: black;
	background-color: rgba(0,0,0,0.5);
}

main {
	padding: 45px 0;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	border-top: 1px solid $gray-lighter;
	padding-top: 15px;
	color: $gray-light;
}
