@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);

body {
  background-color: black;
  color: #bdbdbd;
}

.we-brand {
  color: orange !important;
  font-size:  36px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}

.we-demo-container iframe {
  width: 480px;
  height: 320px;
}
